%h1 New person
.row
  .col-xs-12
    = form_with model: @person, local: true do |form|
      - if @person.errors.any?
        .alert.alert-danger
          = pluralize(@person.errors.count, "error")
          prohibited this person from being saved:
          %ul
            - @person.errors.full_messages.each do |message|
              %li= message
      .row
        .col-xs-12.col-md-6.col-lg-4
          .form-group
            = form.file_field :avatar
          .form-group
            = form.label :name
            %input{type: :text, name: 'person[name]', class: 'form-control'}
          .form-group
            = form.label :age
            = form.number_field :age, class: 'form-control'
          .form-group
            = form.label :gender
            = form.select :gender, [['Male', 'male'], ['Female', 'famale']], {}, class: 'form-control'
          = form.label :alien
          .radio
            %label
              = form.radio_button :alien, true
              yes
          .radio
            %label
              = form.radio_button :alien, false
              no
        .col-xs-12.col-md-6-col-lg-8
          %h4 Hobbies
          = form.fields_for :hobbies do |hobby|
            .form-group
              = hobby.label :name, "Name | Kind"
              .form-inline
                = hobby.text_field :name, class: 'form-control '
                = hobby.select :kind, @kinds, {}, class: 'form-control'
      .row
        .hidden-xs.col-md-6
          = link_to 'Back', people_path, class: 'btn btn-warning btn-block'
        .col-xs-12.col-md-6
          = form.submit class: 'btn btn-primary btn-block'
